@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);


@keyframes wipe-enter {
	0% {
		/* transform: scale(0, .025); */
        opacity:0;
        
	}
	
    100% {
        opacity:1;
    }
}

@keyframes define-content {
    0% {
        margin-top:20%
    }
    100% {
        
        
    }
}

@keyframes define-line {

    0% {
        transform:scale(0);
        opacity:1;

    }

    100% {
        transform:scale(1);
    }
}


@keyframes color-swap {
	0% {
		color: white;
        background-color: black;
	}
	100% {
		color: black;
        background-color: white;
	}
}

@keyframes alt-color-swap {
	0% {
		color: black;
        background-color: white;
	}
	100% {
		color: white;
        background-color: black;
	}
}

@keyframes image-swap {
    0% {
        filter: invert(0);
    }

    100% {
        filter: invert(100);
    }
}



* {
    font-family: 'Lato', sans-serif;
    
    
}

p{
    text-align:left;
    line-height:1.6;
}

.button-content > p {
    text-align:center;
}

body {
    margin: auto;
    background-color: white;
    
    
    
}




.header {
    
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
   
    text-align: center;
    color:white;
    
    height:100vh;
    box-sizing:border-box;
    padding-top:10%;
    
    
    
}

.section-box{

    

    
    
  padding-left:25%;
padding-right:25%;
padding-top : 50px;
padding-bottom : 100px;

box-sizing:border-box;
}



.section-2{
    background-color:black;
    color:white;
    margin-top:10px;
    
    
}

.test-class {

    visibility: hidden;
    
}

.carousel-image{
    height:auto;
    border-radius: 90%;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    text-align:center;

}

.hr-animated {
    animation: define-line 1.5s 1;
    animation-delay: 0s;
}
    



.item-link:link {
    color: rgb(0, 0, 0);
  }
  
  .item-link:visited {
    color: rgb(0, 0, 0);
  }

  .item-link:hover{
      color:gray;
  }
  
  a:hover {
    color: gray;
  }

  
 .button {
     display:inline;

 }
 
 .button-child {
     background-color:black;
     color:white;
     border-color:gray;
     border-style:solid;
     font-size:larger;
     padding:20px;
     margin-top:30px;
     
     

 }

 .button-child:hover {
     animation : color-swap 0.5s 1;
     animation-delay:0s;
     color: black;
        background-color: white;
     
 }

 .button-alt {
    background-color:white;
    color:black;
    border-color:gray;
    border-style:solid;
    margin:15px;
    height:50%;

 }
    

.button-content {
    display:inline-block;
    text-align:center;
    padding:10px;


}    
    
    



.button-alt:hover {
    animation : alt-color-swap 0.5s 1;
    animation-delay:0s;
    color: white;
       background-color: black;


    
    
    
}

.button-alt:hover > .button-content> .button-image {
    animation: image-swap 0.5s 1;
    filter: invert(100);
    

}



   .item{
      
      margin:20px;
      text-align:center;
      border-color:rgb(255, 255, 255);
      border-left-color:gray;
      border-right-color:gray;
      border-style:solid;
      padding:10px;
      
      
  }




  


.section-animated {
    animation: wipe-enter 1s 1;
    animation-delay: 0s;
    visibility: visible;
    position: static;
    
}


.content-animated {
    animation : define-content 1s 1;
    animation-delay: 0s;
}



.rounded {
    width: 150px;
    height : 150px;
    border-radius: 90%;
    
}

.button-image {
    width:150px;
    height:150px;
    
}

